* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}
.contador-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

#suma {
  color: rgb(0, 0, 0);
  background-color: rgb(33, 161, 7);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border-color: rgb(255, 255, 255);
}
#resta {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 0, 0);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  font-size: 2.5rem;
  border-color: rgb(255, 254, 254);
}
#contador {
  font-size: 3rem;
  font-weight: 500;
}